/*
====================================
Variables - Fonts & Colors
====================================
*/

// Fonts
$header-font: 'Playfair Display', serif;
$body-font: 'Source Sans Pro', sans-serif;

// Colors
$lightgrey: #E9ECE4;
$lightteal: #C0DFD9;
$yellow: #FFD75A;
$white: #F8F9F7;
$darkblue: #24283B;

/*
====================================
Mixin
====================================
*/

// Centerer
@mixin centerer() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

// Flexbox at Row
@mixin flexRow() {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}



/*
====================================
Default Styling
====================================
*/

html {
	font-size: 62.5%;
}

body {
	font-size: 15px;
	font-size: 1.5em;
	color: $darkblue;
	background-color: $white;
	position: relative;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
	padding: 5rem 0;
}

.divider {
	width: 10rem;
	border-bottom: 1px solid $darkblue;
	margin: 2rem 0 1rem 0;
	display: inline-block;
}


.content {
	float: left;
	width: 65%;
	margin-right: 5%;
}

.full {
	width: 100%;
}

/*
====================================
Fonts
====================================
*/

h1, h2, h3, h4 {
	font-family: $header-font;
	margin: 0;
}

h1 {
	font-size: 11rem;
	text-align: center;
	line-height: .8;
	font-style: italic;
	font-weight: 900;
}

h2 {
	font-size: 11rem;
	line-height: 1.1;
}

h3 {
	font-size: 4rem;
	line-height: 1.1;
}


// Links
a {
	color: grey;
	text-decoration: none;
	&:hover {
		color: #D424B1;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
	font-family: $body-font;
	font-size: 1.2rem;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 0;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}
